.banner {
  background: linear-gradient(-225deg, rgba(200,200,200,0.4) 30%,rgba(46,46,46,0.3) 80%), url("https://source.unsplash.com/FOa_hZ1bxiI/1600x900");
  background-size: cover;
  background-position: center;
  height: 200px;
  padding: 200px;
}

.banner a:hover {
  background-color: rgba(255,255,255, 0.2);
}

.banner h1 {
  color: white;
  font-size: 38px;
}

.banner p {
  color: white;
  font-size: 22px;
  font-style: italic;
}
